
ul
    li
        a(href='/catalog') Home
    li
        a(href='/catalog/book') All books
    li
        a(href='/catalog/author') All authors
    li
        a(href='/catalog/genre') All genres
    li
        a(href='/catalog/bookinstance') All bookinstances

ul
    li
        a(href='/catalog/author/create') Create new author
    li
        a(href='/catalog/genre/create') Create new genre
    li
        a(href='/catalog/book/create') Create new book
    li
        a(href='/catalog/bookinstance/create') Create new bookinstance (copy)